$dark-color: white;
$light-color: rgb(30, 50, 77);
$light-hover-color: #5a7190;
$dark-in-between-color: #5a7190;
$separating-line-color: #5a7190;
$hardcore-text-color: #5a7190;
$important-text-color: rgb(30, 50, 77);
$text-color: $light-color;
$error-color: #d37676;
$bad-color: #983c3c;
$good-color: #91C8A4;
$yellow-color: #91C8A4;

$translucent-modal-background: #979797a6;

$button-font-size: 1rem;
$button-height: 3rem;

$normal-text-size: 1.25rem;
$big-text-size: 1.5rem;


